@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {

    /* Color pallet - 1  */

    --c-p1-grey: #EEEDEB; /* grey */
    --c-p1-peach: #E6B9A6; /* peach */
    --c-p1-egb: #939185; /* Earthy Grey Beige */
    --c-p1-dsb: #2F3645; /* Deep Slate Blue */

    /* color pallet - 2 */

    --c-p2-dmb: #070F2B; /* Deep Midnight Blue */
    --c-p2-di: #1B1A55; /* Dark Indigo / Deep Violet-Blue */
    --c-p2-msb: #535C91; /* Muted Slate Blue */
    --c-p2-lp: #9290C3; /* Light Periwinkle */

    /* color pallet - 3 */

    --c-p3-dt: #003C43; /* Dark Teal */
    --c-p3-dc: #135D66; /* Deep Cyan */
    --c-p3-ssg: #77B0AA; /* Soft Seafoam Green */
    --c-p3-pa: #E3FEF7; /* Pale Aquamarine */

    --c-p-neon: #7C00FE;

    /* Font Sizes */

    --fs-h1: 5rem;
    --fs-h2: 4rem;
    --fs-h3: 3.2rem;
    --fs-h4: 2.7rem;
    --fs-l: 2.2rem;
    --fs-med: 1.8rem;
    --fs-p: 1.4rem;
    --fs-input: 1.2rem;
    --fs-nav: 1.4rem;
    --fs-span: 1.1rem;

    /* Font Family */

    --ff-p: "Poppins", serif;
    --ff-sec: "Itim", serif;

    /* Margins */

    --mar-m-l: 10rem;
    --mar-m-r: 10rem;
    --mar-m-t: 5rem;
    --mar-m-b: 5rem;

    --mar-s-l: 10rem;

    --mar-h-b: 1.2rem;
    --mar-h-t: 1.2rem;

    --mar-large: 2rem;
    --mar-sm: 0.8rem;
    --mar-exsm: 0.4rem;

    /* Paddings */

    --pad-m-tb: 2rem;
    --pad-m-lr: 5rem;

    --pad-i-lr: 1.2rem;
    --pad-i-tb: 0.3rem;

    --pad-h-b: 1.2rem;
    --pad-h-t: 1.2rem;

    --pad-large: 2rem;
    --pad-sm: 0.8rem;
    --pad-exsm: 0.4rem;

    /* border radius */
    
    --br-main: 0.8rem;

}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}
h4 {
    font-size: var(--fs-h4);
}
p {
    font-size: var(--fs-p);
}
span {
    font-size: var(--fs-span);
}
nav {
    font-size: var(--fs-nav);
}
input {
    font-size: var(--fs-input);
}
input:focus {
    outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}


/* Font Family classes */

.ff-p {
    font-family: var(--ff-p); /* Poppins */
}
.ff-sec {
    font-family: var(--ff-sec); /* Itim */
}

/* Font Size classes */

.l {
    font-size: var(--fs-l); /* 2.2 */
}
.med {
    font-size: var(--fs-med); /* 1.8 */
}

/* color classes */

.txt-grey {
    color: var(--c-p1-grey);
}
.txt-white {
    color: #FFF;
}
.txt-black {
    color: #000;
}

/* text properties */

.txt-no-ul {
    text-decoration: none;
}

/* margin classes */

.mar-mt {
    margin-top: var(--mar-m-t); /* 5rem */
}
.mar-ml {
    margin-left: var(--mar-m-l); /* 10rem */
}
.mar-mr {
    margin-right: var(--mar-m-r); /* 10rem */
}
.mar-mb {
    margin-bottom: var(--mar-m-b); /* 5rem */
}

/* Padding classes */

.pad-main {
    padding: var(--pad-m-tb) var(--pad-m-lr);
}

/* Display properties */

.flex {
    display: flex;
}
.flex-c {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Cursor Properties */

.crsr-p {
    cursor: pointer;
}

/* transition properties */

.transition {
    transition: all 0.2s ease-in-out;
}