:root {

    /* Color pallet - 1  */

    --c-p1-grey: #EEEDEB; /* grey */
    --c-p1-peach: #E6B9A6; /* peach */
    --c-p1-egb: #939185; /* Earthy Grey Beige */
    --c-p1-dsb: #2F3645; /* Deep Slate Blue */

    /* color pallet - 2 */

    --c-p2-dmb: #070F2B; /* Deep Midnight Blue */
    --c-p2-di: #1B1A55; /* Dark Indigo / Deep Violet-Blue */
    --c-p2-msb: #535C91; /* Muted Slate Blue */
    --c-p2-lp: #9290C3; /* Light Periwinkle */

    /* color pallet - 3 */

    --c-p3-dt: #003C43; /* Dark Teal */
    --c-p3-dc: #135D66; /* Deep Cyan */
    --c-p3-ssg: #77B0AA; /* Soft Seafoam Green */
    --c-p3-pa: #E3FEF7; /* Pale Aquamarine */

    --c-p-neon: #7C00FE;
    --c-p-dsp-dark: #1E222C;

    /* Font Sizes */

    --fs-h1: 5rem;
    --fs-h2: 4rem;
    --fs-h3: 3.2rem;
    --fs-h4: 2.7rem;
    --fs-l: 2.2rem;
    --fs-med: 1.8rem;
    --fs-p: 1.4rem;
    --fs-input: 1.2rem;
    --fs-nav: 1.4rem;
    --fs-span: 1.1rem;

    /* Font Family */

    --ff-p: "Poppins", serif;
    --ff-sec: "Itim", serif;

    /* Margins */

    --mar-m-l: 10rem;
    --mar-m-r: 10rem;
    --mar-m-t: 5rem;
    --mar-m-b: 5rem;

    --mar-s-l: 10rem;

    --mar-h-b: 1.2rem;
    --mar-h-t: 1.2rem;

    --mar-large: 2rem;
    --mar-sm: 0.8rem;
    --mar-exsm: 0.4rem;

    /* Paddings */

    --pad-m-tb: 2rem;
    --pad-m-lr: 5rem;

    --pad-i-lr: 1.2rem;
    --pad-i-tb: 0.3rem;

    --pad-h-b: 1.2rem;
    --pad-h-t: 1.2rem;

    --pad-large: 2rem;
    --pad-sm: 0.8rem;
    --pad-exsm: 0.4rem;

    /* border radius */
    
    --br-main: 0.8rem;

}

.ca-main-sec {
    padding-top: var(--pad-m-lr);
}
.main-head-desc-s {
    text-align: center;
}

.ca-m-body {
    margin-top: 5rem;
}
.b-t-item {
    background: var(--c-p-dsp-dark);
    width: 30rem;
    padding: 1.5rem;
    border-radius: var(--br-main);
}
.b-t-item:hover {
    scale: 1.02;
    /* border: 1px solid var(--c-p-neon); */
    box-shadow: 1.2rem 1.1rem 0.6rem 0.5rem var(--c-p-dsp-dark);
}
.b-t-head {
    padding-bottom: 1.2rem;
}